#cart-btn {
	background-color: #5B4F47;
  	color: #F8F7F4;
  	border: transparent;
}

#card {
	
}

#cart-form {
	margin-top: 5px;
  	margin-left: 10%;
  	margin-right: 10%;
}

#product-title{
	color: #5B4F47;
}

#delete-btn {
	background-color: black;
  	color: #F8F7F4;
  	border: transparent;
}
